
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Health247</h1>
    <p>
      Appointment created by patient <%= @patient.name %> for doctor <%= @doctor.name %> for hospital <%= @doctor.hospital %><br>
    </p>
    <p>
      To see your appointments, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining on Health247 and have a great day!</p>
  </body>
</html>