
<div class='d-flex justify-content-center'>
  <div class = 'btn btn-danger m-4 float-center'>My Appointments</div>
</div>

<% Appointment.where(doctor_id: current_user.id).each do |appointment| %>
  <div class="card m-4">
    <div class="card-body text-white bg-dark">
      <h5 class="card-title">Appointment for: <%= appointment.query %></h5>
      <p class="card-text">Patient Name: <%= appointment.patient.name %></p>
      <p class="card-text">Age: <%= appointment.patient.age %></p>
    </div>
  </div>
<% end %>