
<% if(current_user.role == 'patient') %>
  <h3>Welcome <%= current_user.name %> </h3>
  <%= render 'patient' %>
<% else %>
  <h3>Welcome Dr. <%= current_user.name %> </h3>
  <%= render 'doctor' %>
<% end %>